<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title> Joses </title>
	<link rel="shortcut icon" type="image/png" href="http://www.favicon.cc/logo3d/525630.png"/>
	<!-- Javascript -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script> 	
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
 
    {{{body}}}
 
</body>
</html>