<div class="login-form">
	<div class="top-login">
		<span><img src="images/group.png" alt=""/></span>
	</div>
	<h1>Register</h1>
	<div class="login-top">
		<form>
			<div class="login-ic">
				<i ></i>
				<input type="text" class="form-control" id="regEmail" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = ' ';}"/>
				<div class="clear"> </div>
			</div>
			<div class="login-ic">
				<i class="icon"></i>
				<input type="password" class="form-control" id="regPass" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}"/>
				<div class="clear"> </div>
			</div>
			<div class="login-ic">
				<i class="icon"></i>
				<input type="password" class="form-control" id="regConfPass" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}"/>
				<div class="clear"> </div>
			</div>
			<div class="login-ic">
				<div class="log-bwn" >
					<a onclick="register()"><input type="button" class="btn btn-default" id="kek" value="Register"> </input>	</a>	
				</div>
			</div>
		</form>
	</div>
	<p class="copy">©  All rights reserved | Design by  <a href="/" target="_blank">Joses</a></p>
</div>
<!--REGISTER MODAL -->
<div id="modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title " id="modal-title"></h4>
			</div>
			<div class="modal-body">
				<p id="modal-text">	</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>